{% extends 'base.html' %}

{% block content %}
<body>
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.num_receipts }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
{% endblock %}
